{% extends "boilerplate.html" %}
{% load static %}
{% block content %}

<section class="home top-section">
    <nav class="navbar navbar-expand navbar-dark">
        <div class="container-fluid px-5">
            <a class="fw-bold navbar-brand" href="#">BLOG</a>
            <button class="navbar-toggler nav-btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <form>
                        <input class="search-bar mt-2 me-2" type="search" placeholder="Search" aria-label="Search" />
                        <input type="submit" class="visually-hidden" tabindex="-1" />
                    </form>
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="profile-picture" style="width:30px;height:30px;"
                                src='https://images.unsplash.com/photo-1497316730643-415fac54a2af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80'>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark"
                            aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a href="/user" class="dropdown-item" href="#">Profile</a></li>
                            <li><a href="/write" class="dropdown-item" href="#">Write</a></li>
                            <li><a href="logout" class="dropdown-item" href="#">Logout</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item mt-1">
                        <a href="/login" class="nav-link active" aria-current="page" href="#">Sign in</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="bg-title container">
        <div class="text-center boxed" style="color:white;">
            <h1>WELCOME</h1>
            <p>lorem ipsum dolor sit</p>
        </div>
    </div>

</section>

<section class="container search-tags category my-5">
    <div class="tags d-flex flex-wrap ">
        <a href="#" class="tag rounded-pill text-muted m-2">All</a>
        <a href="#" class="tag rounded-pill text-muted m-2">All</a>
        <a href="#" class="tag rounded-pill text-muted m-2">ipsum</a> <a href="#"
            class="tag rounded-pill text-muted m-2">All</a>
        <a href="#" class="tag rounded-pill text-muted m-2">ipsum</a> <a href="#"
            class="tag rounded-pill text-muted m-2">All</a>
        <a href="#" class="tag rounded-pill text-muted m-2">ipsum</a> <a href="#"
            class="tag rounded-pill text-muted m-2">All</a>
        <a href="#" class="tag rounded-pill text-muted m-2">ipsum</a>
        <a href="#" class="tag rounded-pill text-muted m-2">ipsum</a>
        <a href="#" class="tag rounded-pill text-muted m-2">All</a>
        <a href="#" class="tag rounded-pill text-muted m-2">ipsum</a> <a href="#"
            class="tag rounded-pill text-muted m-2">All</a>
        <a href="#" class="tag rounded-pill text-muted m-2">ipsum</a> <a href="#"
            class="tag rounded-pill text-muted m-2">All</a>
        <a href="#" class="tag rounded-pill text-muted m-2">ipsum</a>
    </div>
</section>

<section class="container main-section">
    <div class="row">
        <div class="col-xl-8 container">
            <div class="row posts recent-posts">

                <div class="col-md-6 post">
                    <div class="card shadow bg-body rounded mb-4">
                        <img src="https://images.unsplash.com/photo-1441441247730-d09529166668?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80"
                            class="card-img-top" alt="...">
                        <div class="card-body px-4">
                            <small class="card-text text-muted">
                                by&nbsp;<span>rithin</span>&nbsp;
                                <span>November 23, 2021</span>
                            </small>

                            <h5 class="card-title fs-3 fw-bold">Post Title</h5>
                            <p class="card-text text-muted">Some quick example text to build on the card title and
                                make up the
                                bulk of the card's content.
                            </p>
                            <div class="row post-votes">
                                <div class="col-8">
                                    <hr>
                                </div>
                                <div class="col-4">
                                    <span class="badge rounded-pill bg-secondary" href="#">upvotes | 400</span>
                                </div>
                            </div>
                            <p class="card-text text-muted">category</p>
                        </div>
                    </div>

                    <div class="card shadow bg-body rounded mb-4">
                        <img src="https://images.unsplash.com/photo-1466112928291-0903b80a9466?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80"
                            class="card-img-top" alt="...">
                        <div class="card-body px-4">
                            <small class="card-text text-muted">
                                by&nbsp;<span>rithin</span>&nbsp;
                                <span>November 23, 2021</span>
                            </small>

                            <h5 class="card-title fs-3 fw-bold">Post Title</h5>
                            <p class="card-text text-muted">Some quick example text to build on the card title and
                                make up the
                                bulk of the card's content.
                            </p>
                            <div class="row post-votes">
                                <div class="col-8">
                                    <hr>
                                </div>
                                <div class="col-4">
                                    <span class="badge rounded-pill bg-secondary" href="#">upvotes | 400</span>
                                </div>
                            </div>
                            <p class="card-text text-muted">category</p>
                        </div>
                    </div>

                </div>


                <div class="col-md-6 post">
                    <div class="card shadow bg-body rounded mb-4">
                        <img src="https://images.unsplash.com/photo-1626701594060-8329551e05bc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"
                            class="card-img-top" alt="...">
                        <div class="card-body px-4">
                            <small class="card-text text-muted">
                                by&nbsp;<span>rithin</span>&nbsp;
                                <span>November 23, 2021</span>
                            </small>

                            <h5 class="card-title fs-3 fw-bold">Post Title</h5>
                            <p class="card-text text-muted">Some quick example text to build on the card title and
                                make up the
                                bulk of the card's content.
                            </p>
                            <div class="row post-votes">
                                <div class="col-8">
                                    <hr>
                                </div>
                                <div class="col-4">
                                    <span class="badge rounded-pill bg-secondary" href="#">upvotes | 400</span>
                                </div>
                            </div>
                            <p class="card-text text-muted">category</p>
                        </div>


                    </div>
                </div>

                <div class="col-md-6 post mb-4">

                </div>
            </div>
        </div>
        <!-----------------------------------------side panel----------------------------------------------------------->
        <div class="col-xl-4">
            <div class="suggested-people">
                <h5>Suggested people</h5>
                {% for user in users %}
                    <div class="profile-card mb-3">
                        <div class="row">
                            <div class="col-2 col-sm-2 col-lg-1 col-xl-3">
                                <div class="profile-picture"
                                    style="background-image:url('https://images.unsplash.com/photo-1497316730643-415fac54a2af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80')">
                                </div>
                            </div>
                            <div class="col-10 col-sm-10 col-lg-11 col-xl-9 mt-1">
                                <span class="fw-bold text-capitalize">{{user.fullname}}</span>
                                <p class="text-muted"> {{user.userdetail.about}}
                                </p>
                            </div>
                        </div>
                        <hr>
                    </div>
                {% endfor %}

            </div>

        </div>
    </div>

</section>
{% endblock %}