<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>postt</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'index.css' %}" />
</head>

<body>
    <section class="top-section">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid px-5">
                <a class="fw-bold navbar-brand" href="#">Profile Name</a>
                <button class="navbar-toggler nav-btn" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item ps-3">
                            <a class="nav-link active" aria-current="page" href="#">Followers</a>
                        </li>
                        <li class="nav-item ps-3">
                            <a class="btn btn-dark active" aria-current="page" href="#">Follow</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item ps-3">
                            <a class="nav-link active" aria-current="page" href="#">Sign in</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>

    <section class="post-desc container px-5 my-5">
        <div class="row">
            <div class="col-xl-9">
                <div class="post-img py-4" style="width:100%">
                    <img style="width:100%; max-height:500px;object-fit:cover;"
                        src="https://images.unsplash.com/photo-1626701594060-8329551e05bc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80">
                </div>
                <div class="post-body">
                    <div class="post-header py-4">
                        <div class="post-title fs-3 fw-bold">Trip that you'll never ever forget</div>
                        <small class="post-details text-muted">
                            <div class="float-start"><span>by rithin</span>&emsp;<span>November 23, 2021</span></div>
                            <div class="float-end"><span>Tag</span>&emsp;<span>comment</span></div>
                        </small>
                    </div>
                    <div class="post-content pt-5">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur architecto esse sunt magni
                            harum nam, in qui ex reiciendis quia eius adipisci, tenetur sit praesentium quod quisquam molestiae
                            deleniti dolorem.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur architecto
                            esse sunt magni
                            harum nam, in qui ex reiciendis quia eius adipisci, tenetur sit praesentium quod quisquam molestiae
                            deleniti dolorem.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur architecto
                            esse sunt magni
                            harum nam, in qui ex reiciendis quia eius adipisci, tenetur sit praesentium quod quisquam molestiae
                            deleniti dolorem.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur architecto
                            esse sunt magni
                            harum nam, in qui ex reiciendis quia eius adipisci, tenetur sit praesentium quod quisquam molestiae
                            deleniti dolorem.
                        </p>
        
                    </div>
                </div>
                <div class="review-section">
                    <div class="review-icons mb-4">
                        <a href="#">upvote</a>
                        <a href="#">downvote</a>
                        <button>comment</button>
                    </div>
                    <div class="comment-section">
                        <div class="comment">
                            <div class="profile-card d-flex flex-wrap">
                                <div class="profile-picture"
                                    style="background-image:url('https://images.unsplash.com/photo-1497316730643-415fac54a2af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80')">
                                </div>
                                <div class="profile-detail ms-4 py-2">
                                    <div class="profile-name">Name</div>
                                    <small class="comment_at text-muted">over 3 years ago</small>
                                </div>
                            </div>
                            <div class="comment-body ps-6">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quo amet eaque maxime recusandae
                                    aliquam delectus quasi perferendis tenetur illum, autem eligendi doloribus libero a accusamus id
                                    quos? Accusantium, harum?</p>
                            </div>
                        </div>
            
                        <div class="comment">
                            <div class="profile-card d-flex flex-wrap">
                                <div class="profile-picture"
                                    style="background-image:url('https://images.unsplash.com/photo-1497316730643-415fac54a2af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80')">
                                </div>
                                <div class="profile-detail ms-4 py-2">
                                    <div class="profile-name">Name</div>
                                    <small class="comment_at text-muted">over 3 years ago</small>
                                </div>
                            </div>
                            <div class="comment-body ps-6">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quo amet eaque maxime recusandae
                                    aliquam delectus quasi perferendis tenetur illum, autem eligendi doloribus libero a accusamus id
                                    quos? Accusantium, harum?</p>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
            <div class="col-xl-3 py-4">
                <div class="fs-6 fw-bold pb-3">Related posts</div>
                <div class="card shadow bg-body rounded mb-4">
                    <img src="https://images.unsplash.com/photo-1466112928291-0903b80a9466?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80"
                        class="card-img-top" alt="...">
                    <div class="card-body px-4">
                        <small class="card-text text-muted">
                            by&nbsp;<span>rithin</span>&nbsp;
                            <span>November 23, 2021</span>
                        </small>

                        <h5 class="card-title fs-5 fw-bold">Post Title</h5>
                        <small class="card-text text-muted">Some quick example text to build on the card title and
                            make up the
                            bulk of the card's content.
                        </small>
                        <div class="row post-votes">
                            <div class="col-7">
                                <hr>
                            </div>
                            <div class="col-5">
                                <span class="badge rounded-pill bg-secondary" href="#">upvotes | 400</span>
                            </div>
                        </div>
                        <p class="card-text text-muted">category</p>
                    </div>
                </div>

            </div>
        </div>

    </section>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>