{% extends "boilerplate.html" %}
{% load static %}
{% block title %}profile-edit{% endblock %}
{% block content %}

<section class="top-section">
    <nav class="navbar navbar-expand navbar-light">
        <div class="container-fluid px-5">
            <a class="fw-bold navbar-brand" href="#">Blog</a>
            <button class="navbar-toggler nav-btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle d-flex invisible" href="#" id="navbarDarkDropdownMenuLink"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="profile-picture visible" style="background-image:url('{{user.userdetail.profile_img.url}}');
                                height:50px;width:50px;">
                            </div>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark"
                            aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a href="/user" class="dropdown-item" href="#">Profile</a></li>
                            <li><a href="/write" class="dropdown-item" href="#">Write</a></li>
                            <li><a href="logout" class="dropdown-item" href="#">Logout</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item mt-1">
                        <a href="/login" class="nav-link active" aria-current="page" href="#">Sign in</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</section>
<section class="container px-5 mt-5">
    <div class="profile-header d-flex flex-wrap">
        <div class="profile-card d-flex flex-wrap px-4 pt-2 justify-content-center">
            <div class="profile-picture mb-3" style="background-image:url('{{user.userdetail.profile_img.url}}');
                    height:50px;width:50px;">
            </div>
            <div class="profile-details align-self-center px-4">
                <div class="profile-header-card d-flex mb-3">
                    <div class="fs-4">
                        {{user.fullname}}

                    </div>
                    <input type="file" class="invisible" id="propicinput" style="display:none;">
                    <label for="propicinput" class="btn btn-outline-dark ms-3" id="propicupload">Choose Photo</label>
                </div>
            </div>
        </div>

    </div>
    <hr>
    <div class="profile-edit-form">

        <div class="form-floating">
            <div contenteditable="true" class="form-control" placeholder="talk about yourself" id="about-user"></div>
            <label for="floatingTextarea">About</label>
        </div>
        <div class="updation-btn mt-5">
            <button id="about-submit" type="button" class="btn btn-outline-primary btn-sm">Submit</button>
            <button id="about-cancel" type="button" class="btn btn-outline-danger btn-sm">Cancel</button>
            <button id="change-password" type="button" class="btn btn-outline-dark btn-sm float-end">Change
                Password</button>
        </div>

    </div>
</section>


{% endblock %}