{% extends "boilerplate.html" %}
{% load static %}
{% block content %}

<section class="top-section">
    <nav class="navbar navbar-expand navbar-light">
        <div class="container-fluid px-5">
            <a class="fw-bold navbar-brand" href="/">INFOBLOG</a>
            <button class="navbar-toggler nav-btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="profile-picture" style="width:30px;height:30px;"
                                src=' {{user.userdetail.profile_img.url}}'>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark"
                            aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a href="/user" class="dropdown-item" href="#">Profile</a></li>
                            <li><a href="/write" class="dropdown-item" href="#">Write</a></li>
                            <li><a href="logout" class="dropdown-item" href="#">Logout</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item mt-1">
                        <a href="/login" class="nav-link active" aria-current="page" href="#">Sign in</a>
                    </li>
                    {% endif %}
                </ul>
            </div>


        </div>
    </nav>
</section>
<section class="container px-5 mt-5">
    <div class="profile-header d-flex flex-wrap">
        <div class="profile-card d-flex flex-wrap px-4 pt-2 justify-content-center">
            <div class="profile-picture mb-3" style="background-image:url('{{user.userdetail.profile_img.url}}');
                    height:150px;width:150px;">
            </div>
            <div class="profile-details align-self-center px-4">
                <div class="profile-header-card d-flex mb-3">
                    <div class="fs-4">
                        {{userP.fullname}}
                    </div>

                    {% if user == userP %}
                        <a href="/profile-edit" class="btn btn-sm btn-outline-dark ms-3">Edit</a>
                    {% comment %}
                        {% else %}
                        <span class="btn">Followers</span>
                        <a class="btn btn-dark active" aria-current="page" href="#">Follow</a>
                    {% endcomment %}

                    {% endif %}


                </div>
                <div class="profile-attributes d-flex mb-3">
                    <div class="post-number">
                        {{post_count}} posts
                    </div>
                    <!-- <div class="post-followers px-3">
                        24.5k followers
                    </div>
                    <div class="post-following">
                        4 following
                    </div> -->
                </div>
                <div class="profile-about">
                    <p>{{user_details.about}}</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
</section>

<section class="container px-5">
    <div class="row">
        {% for col in posts %}
        <div class="col-md-4">
            {% for post in col %}
            <div class="card shadow bg-body rounded mb-4">
                <a href="/post/{{post.id}}" style="text-decoration: none;color:black">
                    <img src="{{ post.tumbnail.url }}" class="card-img-top" alt="{{post.title}}">

                    <div class="card-body px-4">
                        <small class="card-text text-muted">
                            by&nbsp;<span>{{userP.fullname}}</span>&nbsp;
                            <span>{{post.published_at|timesince}}</span>
                        </small>

                        <h5 class="card-title fs-3 fw-bold">{{post.title}}</h5>
                        <p class="card-text text-muted">{{post.content|truncatechars:100}}
                        </p>
                        <div class="row post-votes">
                            <div class="col-6 col-sm-8 col-md-5 col-lg-7 col-xl-8">
                                <hr>
                            </div>
                            <div class="col-6 col-sm-4 col-md-7 col-lg-5 col-xl-4">
                                <span class="badge rounded-pill bg-secondary" href="#">upvotes |
                                    {{post.getVotes}}</span>
                            </div>
                        </div>
                        <p class="card-text text-muted">
                            {% for tag in post.tags.all %}
                            {% if forloop.last %}
                            <span>{{tag.tags}}</span>
                            {%else%}
                            <span>{{tag.tags}}</span>,
                            {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                </a>
            </div>
            {%endfor%}
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}