{% extends "boilerplate.html" %}
{% load static %}
{% block content %}
<style>html{font-size:12px;}</style>

<section class="container px-5 d-flex justify-content-center align-items-center" style="min-height:100vh;">
    <section class="regist-form shadow-sm container" style="width: 40%; min-width:315px;">
        <div class="fs-1 fw-bolder text-center mt-5"> Blog </div>
       
        <form action="" class="container px-5" method="POST">
            <hr>
            {% csrf_token %}
            {% for field in form %}
                {% if forloop.last %}
                    <div class="form-floating mb-4">
                {% else %}
                <div class="form-floating mb-1">
                {% endif %}
                    {{ field }}
                    <label for="{{ field.id_for_label }}">{{field.label}}</label>
                </div>        
            {% endfor %}
            {{ form.errors}}
            <button class="btn btn-primary w-100 mb-4">Sign up</button>
        </form>
        <div class="fs-5 text-center mb-3">
            <a href="#">Forget password?</a>
        </div>

        <div class="fs-5 text-center mb-5">
            Don't have an account? <a href="#">Sign up</a>
        </div>


    </section>

</section>

{% endblock %}